<HEAD>
    <META content="text/html; charset=utf-8" http-equiv=Content-Type>
    <META name=GENERATOR content="MSHTML 11.00.10570.1001">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <style>

    </style>
</HEAD>

<BODY bgColor=#ffffff>
    <CENTER>
        <TABLE cellSpacing=0 cellPadding=0 width="84%" bgColor=#ffffff border=0>
            <TR bgColor=#ffffff>
                <TD style="FONT-FAMILY: Lato; PADDING-BOTTOM: 10px; PADDING-TOP: 12px" bgColor=#ffffff>
                    <TABLE cellSpacing=0 cellPadding=0 width=677 align=center>

                        <TR>
                            <TD colSpan=3 align=center>
                                <P align=center>
                                    <IMG border=0 hspace=0 alt=logo src="https://www.dls.com.pe/newsletter/junio/16/images/cabecera.jpg">
                                </P>
                            </TD>
                        </TR>
                        <TR>
                            <TD height="49" colSpan=3 align=center bgColor=#ffffff><br>
                                <P style="FONT-SIZE: 12px; FONT-FAMILY: Lato; COLOR: #4d4d4d; MARGIN: 0px; LINE-HEIGHT: 16px" align=center>
                                    <FONT size=5>¡Hola! <b>Sara</b><br><br>Gracias por registrarte con nosotros</FONT>
                                </P>
                                <br>
                                <P style="FONT-SIZE: 12px; FONT-FAMILY: Lato; COLOR: #4d4d4d; MARGIN: 0px; LINE-HEIGHT: 16px" align=center>
                                    <FONT size=5>
                                        ¡Ya solo queda un paso mas!<br><br> Necesitamos validar tu Correo Electrónico pulsando el botón.</FONT>
                                </P>


                                <br><br>
                                <br>
                                <br> VALIDAR AQUÍ
                                <br><br> Si no se ha registrado en nuestro sistema, esta acción no es requerida.<br><br> Si no puede verificar con el botón "VALIDAD AQUI", <br> copia y pega la siguiente ruta e ingreselo en su navegador:<br><br>

                                <p style="FONT-SIZE: 12px; FONT-FAMILY: Lato; COLOR: #666; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px" bgColor=#ffffff align=center>
                                    <a href="#" style="color:#666;">http://dls.com.pe/app/email/verify/90/c612e93fb2779a344741bd5c124403e691e8ca21?expires=1595476109&signature=85b4eeb670cfca3e30e4d0c5bf7d3e89b84f0ef4656c97e639478659526939fe</a></p>




                            </TD>
                        </TR>
                        <TR>
                            <TD bgColor=#ffffff colSpan=3 align=center>
                                <IMG border=0 hspace=0 alt="imagen dls" src="http://dls.com.pe/newsletter/julio_3/images/presentacion.jpg" align=baseline>
                            </TD>
                        </TR>
                        <TR>
                            <TD bgColor=#ffffff vAlign=top width=240>&nbsp;</TD>
                            <TD bgColor=#ffffff vAlign=top width=248>
                                <SPAN style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px"><SPAN style="FONT-SIZE: 27px; FONT-FAMILY: Lato; COLOR: #000; MARGIN: 0px"><A href="https://dls.com.pe/"><IMG border=0 hspace=0 alt=web src="https://www.dls.com.pe/newsletter/junio/16/images/web.png" align=baseline></A></SPAN></SPAN>
                            </TD>
                            <TD bgColor=#ffffff vAlign=top width=187>
                                <TABLE cellSpacing=0 cellPadding=5 align=center>
                                    <TR vAlign=middle>
                                        <TD align=right>
                                            <P style="FONT-FAMILY: Lato; COLOR: #666; LINE-HEIGHT: 14px; MARGIN-RIGHT: 5px">Síguenos en:</P>
                                        </TD>
                                        <TD>
                                            <A href="https://www.facebook.com/dlsperuoficial/">
                                                <IMG border=0 hspace=0 alt="" src="https://www.dls.com.pe/newsletter/junio/16/images/facebook.png">
                                            </A>
                                        </TD>
                                        <TD>
                                            <A href="https://www.instagram.com/dlsperuoficial/">
                                                <IMG border=0 hspace=0 alt="" src="https://www.dls.com.pe/newsletter/junio/16/images/instagram.png">
                                            </A>
                                        </TD>
                                    </TR>
                                </TABLE>
                            </TD>
                        </TR>
                        <TR bgColor=#ffffff>
                            <TD vAlign=top colSpan=3>
                                <TABLE cellSpacing=0 cellPadding=0 width=600 border=0>
                                    <TR bgColor=#ffffff>
                                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" vAlign=top width="30%"></TD>
                                        <TD style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" vAlign=top width="70%">
                                            <IMG border=0 hspace=0 alt=pie src="https://www.dls.com.pe/newsletter/junio/16/images/dlspie.jpg" align=baseline>
                                        </TD>
                                    </TR>
                                </TABLE>
                            </TD>
                        </TR>

                    </TABLE>
                </TD>
            </TR>
        </TABLE>
    </CENTER>
</BODY>